@font-face {
  font-family: LemonMilkRegualr;
  src: url('/assets/font/LemonMilkRegular.otf') format('opentype');
}

@font-face {
  font-family: LemonMilkBold;
  src: url('/assets/font/LemonMilkBold.otf') format('opentype');
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    z-index: 3;
}

.navbar-light .navbar-brand:focus {
    color: lightgrey;
}

.navbar-light .navbar-brand:focus .name-dark {
    color: lightgrey;
}

.logo {
    font-family: LemonMilkRegualr;
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
}

.logo:hover {
    color: lightgrey;
}

.logo:hover .name-dark {
    color: lightgrey
}

.name-dark {
    font-family: LemonMilkBold;
    color: black;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
